.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  pointer-events: none;
  z-index: -1;
  color: var(--primary-color);
}

.modal.dark {
  --bg-color: #090949;
  --primary-color: #04ff04;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--overlay-color);
}

.content {
  max-width: 60%;
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
}

.opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: var(--modal-z-index);
}
